<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
</head>
<body>
    <form method="get" action="">
        <!--{% csrf_token %}-->
        <input type="text" placeholder="start or stop" name="settings"></input>
        <input value="Я кнопка Start and Stop" type="submit"></input>
    </form>
    <form method="get" action="">
        <!--{% csrf_token %}-->
        <input type="text" placeholder="Code" name="SMS"></input>
        <input value="Я кнопка SMS" type="submit"></input>
    </form>
</body>
</html>